.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;

  & span {
    color: #566363;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
  }
}
