.wrapper {
  position: relative;
  margin-top: 20px;
  height: 100%;
}

.no-products {
  margin-top: 90px;
  font-size: 4rem;
  color: rgba($color: #ccc, $alpha: 0.8);
  text-transform: uppercase;
  text-align: center;
}
